*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --raleway: "Raleway", sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
  background: #000 no-repeat url(../images/bg-mobile.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  body {
    background: #000 no-repeat url(../images/bg-desktop.png);
    background-size: cover;
  }
}

.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.files {
  width: 100%;
  max-width: 540px;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 12px 6rem 12px 12px;
  background-color: var(--dark-blue);
}
@media (min-width: 989px) {
  .files {
    margin-right: 2rem;
  }
}
@media (min-width: 1025px) {
  .files {
    max-width: 350px;
    margin-bottom: 0;
  }
}
.files__logo {
  margin-bottom: 2rem;
}
.files__icons {
  display: flex;
}
.files__icon {
  padding: 14px 14px;
  margin-right: 1rem;
  border-radius: 12px;
  background-color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.files__icon:hover {
  opacity: 0.5;
}
.files__icon img {
  width: 100%;
  height: auto;
}

.disk {
  width: 100%;
  max-width: 540px;
  padding: 1.4rem 2rem;
  border-radius: 12px;
  color: var(--pale-blue);
  font-family: var(--raleway);
  background-color: var(--dark-blue);
}
.disk__message {
  text-align: center;
}
.disk__message span {
  font-weight: 700;
}
.disk__bar {
  background-color: var(--very-dark-blue);
  border-radius: 10px;
  padding: 3px;
  position: relative;
}
.disk__bar-used {
  background-image: linear-gradient(90deg, var(--gradient));
  width: 75%;
  padding: 2px;
  border-radius: 10px;
}
.disk__bar-point {
  background-color: var(--pale-blue);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: auto;
}
.disk__bar-info {
  position: absolute;
  background-color: #fff;
  color: initial;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 12px 1.5rem;
  border-radius: 10px;
  right: calc(50% - 86px);
}
@media (min-width: 894px) {
  .disk__bar-info {
    right: 0;
    bottom: 1.5rem;
  }
  .disk__bar-info::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    position: absolute;
    right: 0;
    bottom: -20px;
  }
}
.disk__bar-info span {
  font-size: 12px;
  color: var(--grayish-blue);
  vertical-align: middle;
  letter-spacing: 1px;
}
.disk .disk__amount {
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.attribution {
  font-family: var(--raleway);
  font-size: 12px;
  color: var(--pale-blue);
  text-align: center;
  margin: 1rem;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: var(--grayish-blue);
}

/*# sourceMappingURL=style.css.map */
